@theme {
  /* Primary */
  --color-btn-prim: var(--color-cherry-100);
  --color-btn-prim-d: var(--color-cherry-800);
  --color-btn-prim-hov: var(--color-cherry-200);
  --color-btn-prim-hov-d: var(--color-cherry-700);
  --color-btn-prim-act: var(--color-cherry-300);
  --color-btn-prim-act-d: var(--color-cherry-600);

  /* Secondary */
  --color-btn-sec: var(--color-cherry-100);
  --color-btn-sec-d: var(--color-cherry-800);
  --color-btn-sec-hov: var(--color-cherry-200);
  --color-btn-sec-hov-d: var(--color-cherry-700);
  --color-btn-sec-act: var(--color-cherry-300);
  --color-btn-sec-act-d: var(--color-cherry-600);

  /* Disabled */
  --color-btn-dis: var(--color-cherry-50);
  --color-btn-dis-d: var(--color-cherry-900);
}