@theme {
  /* Text colors */
  --color-input-txt: var(--color-cherry-700);
  --color-input-txt-d: var(--color-cherry-50);
  --color-input-txt-focus: var(--color-cherry-800);
  --color-input-txt-focus-d: var(--color-cherry-50);
  --color-input-txt-dis: var(--color-cherry-500);
  --color-input-txt-dis-d: var(--color-cherry-500);
  --color-input-txt-error: var(--color-cherry-400);
  --color-input-txt-error-d: var(--color-cherry-400);

  /* Background colors */
  --color-input-bg: var(--color-cherry-50);
  --color-input-bg-d: var(--color-cherry-800);
  --color-input-bg-focus: var(--color-cherry-100);
  --color-input-bg-focus-d: var(--color-cherry-600);
  --color-input-bg-dis: var(--color-cherry-50);
  --color-input-bg-dis-d: var(--color-cherry-900);
  --color-input-bg-error: var(--color-cherry-400);
  --color-input-bg-error-d: var(--color-cherry-400);

  /* Border colors */
  --color-input-border: var(--color-cherry-50);
  --color-input-border-d: var(--color-cherry-50);
  --color-input-border-focus: var(--color-cherry-400);
  --color-input-border-focus-d: var(--color-cherry-400);
  --color-input-border-dis: var(--color-cherry-100);
  --color-input-border-dis-d: var(--color-cherry-600);
  --color-input-border-error: var(--color-cherry-400);
  --color-input-border-error-d: var(--color-cherry-400);
}
