@theme {
  /* Text */
  --color-prim-txt: var(--color-cherry-900);
  --color-prim-txt-d: var(--color-cherry-50);
  --color-prim-txt-hov: var(--color-cherry-600);
  --color-prim-txt-hov-d: var(--color-cherry-300);
  --color-prim-txt-act: var(--color-cherry-600);
  --color-prim-txt-act-d: var(--color-cherry-300);
  --color-prim-txt-dis: var(--color-cherry-500);
  --color-prim-txt-dis-d: var(--color-cherry-500);

  --color-sec-txt: var(--color-cherry-900);
  --color-sec-txt-d: var(--color-cherry-50);
  --color-sec-txt-hov: var(--color-cherry-400);
  --color-sec-txt-hov-d: var(--color-cherry-400);
  --color-sec-txt-act: var(--color-cherry-400);
  --color-sec-txt-act-d: var(--color-cherry-50);
  --color-sec-txt-dis: var(--color-cherry-500);
  --color-sec-txt-dis-d: var(--color-cherry-500);
}