@theme {
  --color-cherry-50: #ffeeeb;
  --color-cherry-75: #ffeaec;
  --color-cherry-100: #ffe9ed;
  --color-cherry-200: #f7cad2;
  --color-cherry-300: #f6b7c5;
  --color-cherry-400: #e03d60;
  --color-cherry-500: #7c5065;
  --color-cherry-600: #502f3f;
  --color-cherry-700: #32101f;
  --color-cherry-800: #290012;
  --color-cherry-900: #100007;
}
