@theme {
    --color-cherry-50:  #FFEEEB;
    --color-cherry-100: #FFE9ED;
    --color-cherry-200: #F7CAD2;
    --color-cherry-300: #F6B7C5;
    --color-cherry-400: #E03D60;
    --color-cherry-500: #7C5065;
    --color-cherry-600: #502F3F;
    --color-cherry-700: #32101F;
    --color-cherry-800: #290012;
    --color-cherry-900: #100007;
}